<html>
<title>Employee management system</title>
<meta http-equiv="Cache-Control" content="no-store" />
<style>
body {
    background-color: lightblue;
}
li,p{
	font-weight: bold; 
	font-size: 125%
}
</style>

<body >
<h1 style="text-align:center">Welcome to the employee management portal</h1>
<br></br><br></br><br></br>  
<p > This assignment is an employee management web app, which uses a REST api to perform simple CRUD operations.</p>
<p>Technologies used are</p> 
<ul>
<li> Spring boot for developing the RESTful api. </li>
<li> Mongodb for storing employee records. </li>
</ul>
<br></br>
<h2>To add a new record, <a href="/employee"> click here </a>.</h2>
<h2>To view existing records, <a href="/employees"> click here </a>.</h2>
<br></br>
</body>
</html>